h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 38px;
  color: #0781B2;
  font-weight: bold;
  margin-bottom: 27px;
  margin-top:0px;
  text-shadow: 1px 1px 3px lightslategrey;
}

body {
  background-color: #F4F4F4;
}

.plugin {
  padding: 50px 0 20px 0;
}

.spacer {
  margin-bottom: 60px;
}
